@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype"); }

html {
  font-size: 16px;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  background: #eaf8ff; }
  @media (max-width: 680px) {
    html {
      font-size: 14px; } }
  @media (max-width: 500px) {
    html {
      font-size: 12px; } }
  @media (max-width: 400px) {
    html {
      font-size: 11px; } }

body {
  font-family: "Quicksand", helvetica, arial, sans-serif;
  max-width: 660px;
  margin: 50px auto;
  position: relative; }

section {
  display: grid;
  padding: 15px 20px; }

.col-2, .col-3 {
  text-align: center; }

.header-section {
  grid-template-columns: min-content;
  align-items: baseline;
  justify-content: center; }
  @media (max-width: 500px) {
    .header-section {
      display: block; } }
  .header-section h1 {
    margin: 5px -20px 0 0;
    font-family: "Montserrat", helvetica, arial, sans-serif;
    font-size: 3.5rem;
    line-height: 1.125em;
    color: #647c88;
    display: inline-block;
    border-radius: 3px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.35em;
    text-shadow: 2px 2px 0px rgba(66, 212, 235, 0.45); }
  .header-section p {
    margin: 5px 0;
    color: #aaa;
    grid-column: 3; }

.previous-section {
  justify-content: center;
  padding: 25px 20px; }
  .previous-section .previous {
    font-size: 1.375rem;
    color: #555; }
  .previous-section .clear-history {
    font-size: 0.85rem;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 18px;
    letter-spacing: 0.1em;
    background: #647c88;
    color: #ebf8ff;
    width: 8.5rem;
    text-align: center;
    cursor: pointer; }

.button-section {
  grid-template-columns: auto 150px;
  padding: 0px 40px;
  margin: 15px 0 90px;
  position: relative; }
  .button-section:after {
    content: "";
    position: absolute;
    top: calc(50% - 0.5rem);
    right: 10px;
    font-family: lineawesome;
    font-size: 1rem;
    line-height: 1rem;
    animation: loading 1s infinite;
    opacity: 0; }
  .button-section.loading:after {
    opacity: 1;
    transition: 0.5s; }
  .button-section input {
    padding: 15px 18px;
    background: white;
    -webkit-appearance: none;
    border: 0;
    outline: none;
    font-size: 0.85rem;
    color: #555;
    font-family: "Quicksand", helvetica, arial, sans-serif; }
    .button-section input::placeholder {
      color: #bfbfbf; }
    .button-section input[type="submit"] {
      color: #c4d1da;
      background: #d8e4eb;
      transition: 0.2s;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.2em; }
      .button-section input[type="submit"].active {
        cursor: pointer;
        background: #647c88;
        color: white; }
      .button-section input[type="submit"]:not(.active) {
        pointer-events: none; }

.info-section {
  grid-template-columns: auto 4.5rem 8.5rem;
  color: #eaf8ff;
  background: #97b6c4;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset; }

.link-section {
  padding: 0;
  background: #b4d5e4; }
  .link-section .link-item {
    grid-template-columns: auto 4.5rem 8.5rem;
    position: relative;
    align-items: center;
    display: grid;
    padding: 15px 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset; }
    .link-section .link-item:before {
      content: " ";
      background: transparent;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 4px;
      transition: 0.2s; }
    .link-section .link-item.new:before {
      background: #8098a3; }
    .link-section .link-item .links .top-section {
      cursor: pointer;
      padding: 4px 0;
      align-items: center; }
      .link-section .link-item .links .top-section .short-link {
        padding: 1px 0;
        color: white;
        font-size: 0.875rem;
        text-decoration: underline; }
        .link-section .link-item .links .top-section .short-link span {
          color: white;
          font-size: 1rem; }
      .link-section .link-item .links .top-section .hover-text {
        padding: 1px 0;
        color: white;
        font-size: 0.85rem; }
      @media (min-width: 660px) {
        .link-section .link-item .links .top-section {
          display: inline-grid;
          grid-template-columns: max-content auto; }
          .link-section .link-item .links .top-section .hover-text {
            display: none;
            text-align: center; }
          .link-section .link-item .links .top-section:hover {
            display: grid; }
            .link-section .link-item .links .top-section:hover .hover-text {
              display: block; } }
    .link-section .link-item .links .long-link {
      color: #7c9bab;
      padding: 4px 0;
      font-size: 0.75rem; }
    .link-section .link-item .visits, .link-section .link-item .last-visited {
      color: white;
      font-size: 0.85rem; }

.hidden {
  display: none; }

#copyBox {
  width: 1px;
  height: 1px;
  border: 0;
  opacity: 0;
  padding: 0; }

@keyframes loading {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }
